{% extends "base.html" %}

{% load markitup_tags %}

{% block title %}{{ flatblock.header }}{% endblock %}

{% block body_class %}biography{% endblock %}

{% block content %}
    <div id="content">
        <h1>{{ flatblock.header }}</h1>
        <div class="arrow up"></div>
        <div id="text">
            {% if request.user.is_superuser %}
                <a href="{% url flatblocks_edit flatblock.pk %}">Редактирвоать текст</a>
            {% endif %}
            {{ flatblock.content|default:""|render_markup }}
        </div>
        <div class="arrow down"></div>
    </div>
{% endblock %}