{% extends "base.html" %}

{% load thumbnail %}

{% block title %}Фильмография{% endblock %}

{% block extra_js %}

{% endblock %}

{% block body_class %}films{% endblock %}

{% block content %}
    <div id="content">
        <h1>Фильмография</h1>

        <div class="arrow up"></div>
        <div id="text">
            {% for film in films %}
                <div class="film-block">
                    {% if film.link %}
                        <a href="{{ film.link }}">
                            {% if film.image %}
                                {% thumbnail item.image "45x64" crop="center center" as im %}
                                    <img src="{{ im.url }}" alt="{{ film.name }}">
                                {% empty %}
                                    <img src="{{ STATIC_URL }}img/film_covert.png" alt="{{ film.name }}">
                                {% endthumbnail %}
                            {% else %}
                                <img src="{{ STATIC_URL }}img/film_covert.png" alt="{{ film.name }}">
                            {% endif %}
                        </a>
                    {% else %}
                        {% if film.image %}
                            {% thumbnail item.image "45x64" crop="center center" as im %}
                                <img src="{{ im.url }}" alt="{{ film.name }}">
                            {% empty %}
                                <img src="{{ STATIC_URL }}img/film_covert.png" alt="{{ film.name }}">
                            {% endthumbnail %}
                        {% else %}
                            <img src="{{ STATIC_URL }}img/film_covert.png" alt="{{ film.name }}">
                        {% endif %}
                    {% endif %}
                    <h2>
                        {% if film.link %}
                            <a href="{{ film.link }}">
                                {{ film.name }} {% if film.year %}({{ film.year }}){% endif %}
                            </a>
                        {% else %}
                            {{ film.name }} {% if film.year %}({{ film.year }}){% endif %}
                        {% endif %}
                    </h2>
                    {% if film.role %}
                        <p>
                            Роль: {{ film.role }}
                        </p>
                    {% endif %}
                    {% if film.producer %}
                        <p>
                            Режиссер: {{ film.producer }}
                        </p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="arrow down"></div>
    </div>
{% endblock %}