/.idea
*.pyc

logs/*
media/*
cover/*
migrations

.DS_Store
._*
.~*#
*.swp
*.swo
*.swn
.svn
*.orig
_build
build
dist
*.egg-info

*.sqlite3
activate
local_settings.py

static/admin/*
static/grappelli/*
static/filebrowser/*
