<!DOCTYPE HTML>
<html lang="ru-RU">
    <head>
        <title>Кирилл Нагиев &mdash; {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta name="keywords" content="{{ config.SEO_KEYWORDS }} {% block keywords %}{% endblock %}">
        <meta name="description" content="{{ config.SEO_DESCRIPTION }} {% block description %}{% endblock %}">
        <meta name="author" content="Kuzmin Alexey & Julia Sunrise">

        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
        {% block extra_css %}
        {% endblock %}

        <script type="text/javascript">
            scrollSizePercent = 0.4;
            scrollBlockId = 'text';
            scrollPageSpeed = 500;
        </script>
        {% block extra_js_vars %}
        {% endblock %}
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% if DEBUG %}
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
        {% else %}
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        {% endif %}
        <script type="text/javascript" src="{{ MEDIA_URL }}scripts/scroll-page.js"></script>
        {% block extra_js %}
        {% endblock %}

        {% if not DEBUG %}
            {% include "includes/stat-ya.html" %}
            {% include "includes/stat-ga.html" %}
        {% endif %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% include "includes/top_menu.html" %}

        <div id="container">
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            &#174; Официальный сайт актера Кирилла Нагиева
        </footer>

        {% include "includes/metrika.html" %}
    </body>
</html>